<mat-card>
    <mat-card-header>
        <mat-card-title>Report Warning {{ ads?.adsLocationId ? 'Update' : 'Create' }}</mat-card-title>
        <mat-card-subtitle *ngIf="ads?.adsLocationId">
            Id: {{ads?.adsLocationId}} - Location: {{ads?.adsAddress}}
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div
            class="row"
            *ngIf="ads"
        >
            <div
                class="col-4"
                *ngIf="ads?.adsLocationId"
            >
                <mat-form-field class="w-100">
                    <mat-label>Ads No.</mat-label>
                    <input
                        matInput
                        placeholder="Address..."
                        [(ngModel)]="ads.adsLocationId"
                        [disabled]="true"
                    >
                </mat-form-field>
            </div>

            <div class="col-4">
                <mat-form-field class="w-100">
                    <mat-label>Height</mat-label>
                    <input
                        matInput
                        placeholder="Height..."
                        type="number"
                        [(ngModel)]="ads.height"
                    >
                </mat-form-field>
            </div>


        </div>
    </mat-card-content>
    <mat-card-actions align="end">

        <button
            mat-stroked-button
            color="primary"
            (click)="save()"
            style="margin-right: 2px;"
            [disabled]="isLoading || isFormValid !== true"
        >{{ ads?.adsLocationId ? 'Update' : 'Create' }}
        </button>
        <button
            mat-stroked-button
            color="accent"
            (click)="cancel()"
        >Cancel</button>
    </mat-card-actions>
</mat-card>