<mat-card>
    <mat-card-header>
        <h3>Ads {{ ads?.adsLocationId ? 'Update' : 'Create' }}</h3>
    </mat-card-header>

    <mat-card-content>

        <div
            class="row"
            *ngIf="ads"
        >
            <div
                style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5); 
                z-index: 1;"
                *ngIf="isLoading"
            >
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>

            <div
                class="col-4"
                *ngIf="ads?.adsLocationId"
            >
                <mat-form-field class="w-100">
                    <mat-label>Ads No.</mat-label>
                    <input
                        matInput
                        placeholder="Address..."
                        [(ngModel)]="ads.adsLocationId"
                        [disabled]="true"
                    >
                </mat-form-field>
            </div>

            <div class="col-4">
                <mat-form-field class="w-100">
                    <mat-label>Address</mat-label>
                    <input
                        matInput
                        placeholder="Address..."
                        [(ngModel)]="ads.adsAddress"
                    >
                </mat-form-field>
            </div>

            <div class="col-4">
                <mat-form-field class="w-100">
                    <mat-label>Width</mat-label>
                    <input
                        matInput
                        placeholder="Width..."
                        [(ngModel)]="ads.width"
                    >
                </mat-form-field>
            </div>

            <div class="col-4">
                <mat-form-field class="w-100">
                    <mat-label>Height</mat-label>
                    <input
                        matInput
                        placeholder="Height..."
                        [(ngModel)]="ads.height"
                    >
                </mat-form-field>
            </div>

            <div class="col-4">
                <mat-form-field class="w-100">
                    <mat-label>Latitude</mat-label>
                    <input
                        matInput
                        placeholder="Latitute..."
                        [(ngModel)]="ads.latitude"
                    >
                </mat-form-field>
            </div>

            <div class="col-4">
                <mat-form-field class="w-100">
                    <mat-label>Longtitude</mat-label>
                    <input
                        matInput
                        placeholder="Longtitude..."
                        [(ngModel)]="ads.longtitude"
                    >
                </mat-form-field>
            </div>

            <div class="col-4">
                <mat-form-field class="w-100">
                    <mat-label>Ads Type</mat-label>
                    <mat-select
                        [(ngModel)]="ads.typeId"
                        name="ads-type"
                    >
                        <mat-option
                            *ngFor="let type of adsTypesList"
                            [value]="type.valueNumber"
                        >
                            {{type.valueDisplay}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-4">
                <mat-form-field class="w-100">
                    <mat-label>Ads Status</mat-label>
                    <mat-select
                        [(ngModel)]="ads.adsStatus"
                        name="ads-type"
                    >
                        <mat-option
                            *ngFor="let status of adsStatusList"
                            [value]="status.valueString"
                        >
                            {{status.valueDisplay}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-4">
                <mat-form-field class="w-100">
                    <mat-label>EndDate</mat-label>
                    <input
                        matInput
                        placeholder="EndDate..."
                        [(ngModel)]="ads.endDate"
                    >
                </mat-form-field>
            </div>
            

        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <button
            mat-stroked-button
            color="primary"
            (click)="update()"
            style="margin-right: 2px;"
        >{{ ads?.adsLocationId ? 'Update' : 'Create' }}</button>
        <button
            mat-stroked-button
            color="accent"
            (click)="cancel()"
        >Cancel</button>
    </mat-card-actions>
</mat-card>