<mat-card>
    <mat-card-header>
        <h3>Ads form</h3>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-6">
                <mat-form-field class="w-100">
                    <mat-label>Favorite food</mat-label>
                    <input
                        matInput
                        placeholder="Ex. Pizza"
                        value="Sushi"
                    >
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field class="w-100">
                    <mat-label>Favorite food</mat-label>
                    <input
                        matInput
                        placeholder="Ex. Pizza"
                        value="Sushi"
                    >
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <button
            mat-stroked-button
            color="primary"
            (click)="update()"
        >Update</button>
        <button
            mat-stroked-button
            color="accent"
            (click)="cancel()"
        >Cancel</button>
    </mat-card-actions>
</mat-card>