<!--     <p>ads-new works!</p> -->
<div class="row">
    <div class="col-12">
        <!-- <app-map-ads></app-map-ads> -->
    </div>
    <div class="col-12 mt-2">
        <mat-form-field class="w-100">
            <input
                #searchInput
                matInput
                (keyup)="search(searchInput.value)"
                placeholder="Filter...."
            >
        </mat-form-field>
        <mat-card>
            <div class="mat-elevation-z8">
                <table
                    mat-table
                    [dataSource]="dataSource"
                >
                    <ng-container matColumnDef="ID">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                        > No. </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                        > {{element.adsNewId}} </td>
                    </ng-container>

                    <ng-container matColumnDef="AdsAddress">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                        > Address </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                        > {{element.adsAddress}} </td>
                    </ng-container>


                    <ng-container matColumnDef="Size">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                        > Size </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                        > {{element.height}}m x {{element.width}}m </td>
                    </ng-container>

                    <ng-container matColumnDef="StartDate">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                        > Start Date </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                        > {{element.startDate | date:'MM/dd/yyyy  HH:mm'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="EndDate">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                        > End Date </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                        > {{element.endDate | date:'MM/dd/yyyy  HH:mm'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Comment">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                        > Comment </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                        > {{element.comment}} </td>
                    </ng-container>

                    <ng-container matColumnDef="CompanyInfo">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                        > Company Info </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                        > {{element.companyInfo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ProcessingStatus">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                        >  Processing Status </th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                        > {{element.processingStatus}} </td>
                    </ng-container>


                    <ng-container matColumnDef="Action">
                        <th
                            mat-header-cell
                            *matHeaderCellDef
                            class="text-center"
                            width="200"
                        > Action</th>
                        <td
                            mat-cell
                            *matCellDef="let element"
                        >
                            <div class="d-flex justify-content-center">
                                <button
                                    mat-stroked-button
                                    color="primary"
                                    (click)="displayForm(element)"
                                    [disabled]="isLoading"
                                >Update</button>
                                <button
                                    mat-stroked-button
                                    color="accent"
                                    (click)="deleteAds(element)"
                                >Delete</button>
                            </div>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumns"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns;"
                    ></tr>
                </table>
                <mat-paginator
                    [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements"
                >
                </mat-paginator>
            </div>
        </mat-card>
    </div>
    <div class="col-12 mt-2">
        <app-ads-new-form
            *ngIf="!isLoading"
            [adsSelectedId]="adsSelectedId"
            (refresh)="refresh()"
        ></app-ads-new-form>
    </div>
</div>
